# ignore .csv and .txt files
*.csv

# ignore .log files
*.log
# ignore .env files
*.env

# ignore .zip, .tar.gz, and .rar files
*.zip
*.tar.gz
*.rar

# ignore Python TRR_model.py file
TRR_model.py

# ignore .json files
*.json

# ignore .safetensors files
*.safetensors

# ignore .model files
*.model

# ignore .pkl files
*.pkl

# ignore .cpython files
*.cpython-*.pyc
*.pyc

# ignore Jupyter Notebook file
test.ipynb

